@import "../font/variables"

.cardsDesign
  @include flex-between
  padding-top: 131px

.cardsDesign-right
  text-align: right

.cardsDesign-text
  width: 610px
  p
    font-family: $ubuntu-bold
    font-size: 48px
    line-height: 50px

.cardsDesign-button
  padding-top: 36px
  button
    @include buttonBlue-16


.cardsDesign-img
  @include flex-between
  width: 518px
  height: 314px
  flex-wrap: wrap
  img
    max-height: 150px
  img:first-child
    margin-bottom: 16px

@media screen and (max-width: 1200px)
  .cardsDesign-img
    img
      height: 45%

  .cardsDesign-text
    width: 100%
    p
      font-size: 30px
      line-height: 40px

  .cardsDesign-right
    margin-left: 40px

@media screen and (max-width: 780px)
  .cardsDesign-img
    width: 100%
    img
      height: 30%
      margin-bottom: 6px
    img:first-child
      margin-bottom: 6px

  .cardsDesign-right
    width: 30%
    margin-right: 20px