.cardsDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 131px;
}

.cardsDesign-right {
  text-align: right;
}

.cardsDesign-text {
  width: 610px;
}
.cardsDesign-text p {
  font-family: "Ubuntu-bold";
  font-size: 48px;
  line-height: 50px;
}

.cardsDesign-button {
  padding-top: 36px;
}
.cardsDesign-button button {
  padding: 16px;
  font-family: "Ubuntu-bold";
  font-size: 16px;
  color: white;
  background-color: #003CFF;
  border-radius: 16px;
  border: none;
}

.cardsDesign-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 518px;
  height: 314px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cardsDesign-img img {
  max-height: 150px;
}
.cardsDesign-img img:first-child {
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .cardsDesign-img img {
    height: 45%;
  }
  .cardsDesign-text {
    width: 100%;
  }
  .cardsDesign-text p {
    font-size: 30px;
    line-height: 40px;
  }
  .cardsDesign-right {
    margin-left: 40px;
  }
}
@media screen and (max-width: 780px) {
  .cardsDesign-img {
    width: 100%;
  }
  .cardsDesign-img img {
    height: 30%;
    margin-bottom: 6px;
  }
  .cardsDesign-img img:first-child {
    margin-bottom: 6px;
  }
  .cardsDesign-right {
    width: 30%;
    margin-right: 20px;
  }
}