.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  padding: 24.5px 0;
}

.header-nav {
  padding: 23px 0;
  width: 437px;
}
.header-nav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-nav nav li {
  list-style: none;
}
.header-nav nav li a {
  text-decoration: none;
  font-family: "Ubuntu-bold";
  font-size: 16px;
  color: #1D1929;
}

.header-button {
  padding: 7px 0;
}
.header-button button {
  padding: 16px;
  font-family: "Ubuntu-bold";
  font-size: 16px;
  color: white;
  background-color: #003CFF;
  border-radius: 16px;
  border: none;
}

@media screen and (max-width: 780px) {
  .header-nav {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header {
    height: 73px;
  }
}