@import '../font/stylesheet.css';
@import '../components/header/header.css';
@import '../components/card_design/cards_design.css';
@import '../components/what_features_do_we_provide/what_features_do_we_provide.css';
@import '../components/exchange_rate/exchange_rate.css';
@import '../components/services_anywhere_in_the_world/services_anywhere_in_the_world.css';
@import '../components/subscribe/subscribe.css';
@import '../components/footer/footer.css';
@import '../components/dropdown/dropdown.css';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    background: #F5F4FF;
}

.hidden{
    display: none;
}

@media screen and (max-width: 780px) {
    .hidden{
        display: inline-block;
    }
}