.footer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(178, 178, 178, 0.2)), to(rgba(178, 178, 178, 0.2))), #F4F4F4;
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.2) 0%, rgba(178, 178, 178, 0.2) 100%), #F4F4F4;
}

.footer-container {
  padding: 96px 0 92px 0;
}

.footer-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
}

.footer-adress ul {
  list-style-type: none;
}
.footer-adress ul li:first-child {
  font-family: "Ubuntu-bold";
  font-size: 30px;
  margin-bottom: 8px;
}
.footer-adress ul li:last-child {
  font-family: "Ubuntu-medium";
  font-size: 16px;
  color: #2D3748;
}
.footer-adress a {
  text-decoration: none;
}
.footer-adress a:first-child {
  color: #000000;
}
.footer-adress a:last-child {
  color: #2D3748;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-links a {
  font-family: "Ubuntu-medium";
  font-size: 16px;
  color: #000000;
  margin-right: 32px;
  text-decoration: none;
}
.footer-links a:last-child {
  margin-top: 8px;
}

.footer-text {
  margin-top: 28px;
  border-top: solid 2px rgba(255, 255, 255, 0.81);
}
.footer-text p {
  padding-top: 32px;
  font-family: "Ubuntu-medium";
  font-size: 16px;
  color: #2D3748;
  line-height: 24px;
  letter-spacing: 0.32px;
}