.whatFeaturesDoWeProvide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 112px;
}

.whatFeaturesDoWeProvide-img {
  width: 39.1%;
}

.whatFeaturesDoWeProvide-text h1 {
  font-family: "Rubik-medium";
  font-size: 35px;
  color: #0B132A;
  padding-bottom: 20px;
}
.whatFeaturesDoWeProvide-text p {
  font-family: "Rubik-regular";
  font-size: 16px;
  color: #4F5665;
  padding-bottom: 25px;
}
.whatFeaturesDoWeProvide-text ul {
  list-style-type: none;
}
.whatFeaturesDoWeProvide-text ul li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Rubik-regular";
  font-size: 14px;
}
.whatFeaturesDoWeProvide-text ul li img {
  padding-right: 16px;
}
.whatFeaturesDoWeProvide-text ul li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1270px) {
  .whatFeaturesDoWeProvide-text h1 {
    font-size: 30px;
  }
  .whatFeaturesDoWeProvide-img {
    width: 80%;
  }
}
@media screen and (max-width: 1030px) {
  .whatFeaturesDoWeProvide-img img {
    width: 80%;
  }
}
@media screen and (max-width: 730px) {
  .whatFeaturesDoWeProvide-img {
    display: none;
  }
}